.frs_title {
  font-family: "Roboto", sans-serif;
  font-size: 30px !important;
  color: #fdc632 !important;
  font-weight: bold;
}

.scd_title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #002347 !important;
  font-weight: bold;
}
